/* src/components/MainSection.css */

.main-section {
  position: relative;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url('/public/bg.jpg'); /* Use the correct path or URL */
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: fadeIn 1s ease-in-out forwards;
}

.card h3,
.card .loc,
.card p.location {
  opacity: 0;
  animation: fadeInText 1s ease-in-out forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card h3 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: 'lemon milk';
}

.card p {
  margin: 10px 0;
}

.card .loc {
  font-family: 'Brother Signature', sans-serif;
  font-size: 1.2em;
  color: #FFFFFF;
}

.card p.location {
  font-family: 'Brother Signature', sans-serif;
  font-size: 2.2em;
  color: #c58f2d;
}

@media (max-width: 768px) {
  .card {
    padding: 10px;
  }

  .card h3 {
    font-size: 1.5em;
  }

  .card .loc {
    font-size: 1em;
  }

  .card p.location {
    font-size: 1.8em;
  }
}
